name: ci

on:
  push:
    branches: ["master", "main"]
  pull_request:
    branches: ["master", "main"]

permissions:
  contents: read

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - uses: actions/setup-node@v4
        with:
          node-version-file: .nvmrc
          cache: npm
      - run: npm ci
      - name: Nx affected
        env:
          NX_BASE: ${{ github.event.pull_request.base.sha || github.event.before }}
          NX_HEAD: ${{ github.sha }}
        run: npx nx affected -t lint test build